registry=https://registry.npmjs.org/
replace-registry-host=always
package-lock=false
fund=false
audit=false
progress=false
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000